@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Rubik Regular';
    src: url('../public/fonts/Rubik/Rubik-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}